<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label>Email
      <input type="text" name="user[email]" class="form-control" value="<%= @user.email %>">
    </label>
  </div>
  <div class="form-group">
    <label>Password
      <input type="password" name="user[password]" class="form-control">
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign In</button>
</form>
<div class="guest-button">
  <button class="guest btn btn-primary">Guest Login</button>
</div>
<script>
  $('button.guest').click(function(){
    $("input[name='user[email]']").val('ernorubik@example.com');
    $("input[name='user[password]']").val('rubikscube');
    $('button.btn.btn-default').click();
  })
</script>
<div>
Don't have an account? <%= link_to 'Sign up now!', new_user_url %>
</div>
