<% _(events).each(function(included, event){ %>
  <div>
    <% if(included){ %>
      <span class="cubing-icon icon-<%= event %>">&nbsp;</span><%= keys[event] %>
    <% } else { %>
      <strike><%= keys[event] %></strike>
    <% } %>
  </div>
<% }) %>
