<div><span class="cubing-icon icon-333">&nbsp;</span>3x3</div>
<div><span class="cubing-icon icon-444">&nbsp;</span>4x4</div>
<div><span class="cubing-icon icon-555">&nbsp;</span>5x5</div>
<div><span class="cubing-icon icon-222">&nbsp;</span>2x2</div>
<div><span class="cubing-icon icon-333oh">&nbsp;</span>3x3 One Handed</div>
<div><span class="cubing-icon icon-333bf">&nbsp;</span>3x3 Blindfolded</div>
