<% _(events).each(function(included, event){ %>
  <div class="icon">
    <% if(included){ %>
      <span class="cubing-icon icon-<%= event %>">&nbsp;</span><%= events_hash[event] %>
    <% } else { %>
      <strike><%= events_hash[event] %></strike>
    <% } %>
  </div>
<% }) %>
