<div class="form-group">
  <label>Tournament Name
    <input type="text" class="form-control" name="name">
  </label>
</div>
<div class="form-group">
  <label>Location
    <input type="text" id="autocomplete" class="form-control" name="location">
  </label>
</div>
</label>
<div class="form-group">
  <label>Venue
    <input type="text" class="form-control" name="venue">
  </label>
</div>
<div class="form-group">
  <label>Start Date
    <input type="date" class="form-control" name="start_date">
  </label>
</div>
<div class="form-group">
  <label>End Date
    <input type="date" class="form-control" name="end_date">
  </label>
</div>
<input type="hidden" name="lat" value="">
<input type="hidden" name="lng" value="">
<button class="submit btn btn-primary">Create Tournament</button>
