<div class="location" style="border: 1px solid black; height: 40px;">
  placeholder location search box
</div>
<div class="dates" style="border: 1px solid black; height: 40px;">
  placeholder date search box: April through May
</div>
<ul class="tournaments">

</ul>
