<div class="form-group">
  <label>
    <input type="text" class="form-control" name="name" placeholder="Name">
  </label>
</div>
<div class="checkbox">
  Events:<br>
  <% _(events).each(function(included, event){ %>
    <% if(included){ %>
      <label><input type="checkbox" name="<%= event %>"><%= events_hash[event] %></label><br>
    <% } %>
  <% }) %>
</div>
<button type="submit" class="btn btn-success">Register now!</button>
