<div class="row">
  <div class="col-md-6">
    <h1>Create New Tournament</h1>
  </div>
</div>
<div class="create row">
  <div class="form col-md-6">

  </div>
  <div class="static-map col-md-6">
    <div style="border: 1px solid black; font-size: 36px;">
      Enter a location to view it on the map
    </div>
  </div>
</div>
