<img src="/assets/rubiksmelt.png"/>
<div class="header">
  <div class="title">
    <span style="color:red">W</span>
    <span style="color:#0266C8">h</span>
    <span style="color:white">e</span>
    <span style="color:orange">r</span>
    <span style="color:#00933B">e</span>
    <span style="color:yellow">3</span>
    <span style="color:red">x</span>
    <span style="color:#0266C8">3</span>
  </div>
  <div class="subtitle">
    Find Rubik's Cube Tournaments
  </div>
</div>
<div class="form-group">
  <form>
    <label>Location
      <input type="text" class="form-control" id="autocomplete" name="loc" placeholder="Location">
    </label>
    <label>Start
      <input type="text" class="form-control" name="start_date" value="<%= moment().format('MM-DD-YYYY') %>">
    </label>
    <label>End
      <input type="text" class="form-control" name="end_date" value="<%= moment().add(1, 'y').format('MM-DD-YYYY') %>">
    </label>
    <input type="hidden" name="lat">
    <input type="hidden" name="lng">
    <button type="submit" class="btn btn-default">Search!</button>
  </form>
</div>
