#search {
  #autocomplete {
    margin-left: 20px;
    width: 50%;
  }

  .date {
    margin-right: 10px;
    width: 24%;
  }

  .dates {
    margin-top: 10px;
  }
}

#tournament-browse {
  position: fixed;
  top: 145px;
  bottom: 0;
  left: 0;
  width: 60%;
  overflow-y: scroll;
}

#map {
  top: 50px;
  bottom: 0;
  position: absolute;
  right: 0;
  width: 40%;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

.tournament:before {
  content: "";
  display: block;
  margin-top:60%;
}

li.tournament {
  float: left;
  margin: 5px;
  box-sizing: border-box;
  width: 48%;
  height: auto;

  display: inline-block;
  position: relative;
  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  backface-visibility: hidden;
  transition-duration: 0.3s;
  transition-property: transform;

  .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .tournament-image {
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: center;
  }

  .date-overlay {
    position: absolute;
    bottom: 70px;
    left: 0;
    background-color: rgba(60,63,64,0.9);
    padding: 7px 10px;
    color: white;
    font-size: 18px;
  }

  .tournament-info {
    width: 100%;
    height: 20%;
    min-height: 45px;
    padding: 0 10px;
  }

  .name, .venue {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
  }

  .name {
    font-size: 18px;
    color: royalblue;
  }
}

ul.tournaments {
  padding-left: 0;
  .no-results {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) {
  ul.tournaments li {
    width: 96%;
  }
}
