#tournament-browse {
  position: fixed;
  top: 145px;
  bottom: 0;
  left: 0;
  width: 60%;
  overflow-y: scroll;
}

#map {
  top: 50px;
  bottom: 0;
  position: absolute;
  right: 0;
  width: 40%;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
}

.tournament:before {
  content: "";
  display: block;
  margin-top:60%;
}

.tournament {
  display: inline-block;
  position: relative;
  width: 50%;
}

.tournament .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
