// Place all the styles related to the Tournaments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.tournaments {
  padding-left: 0;
}

ul.tournaments li {
  border: 1px solid black;
  float: left;
  background-color: #d3d3d3;
  margin: 10px;
  box-shadow: 3px 3px 3px black;
  box-sizing: border-box;
  width: 45%;
  height: auto;
}

div.details, div.form {
  display: block;
  float: left;
}

div.static-map {
  display: block;
  float: right;
}
