<div class="form-group">
  <label>Location:
    <input type="text" class="form-control" name="location" value="<%= loc %>"
      placeholder="search by a location">
  </label>
</div>
<div class="form-group">
  <label>Search Radius
    <input type="number" class="form-control" name="radius" value="<%= rad %>"
      placeholder="search radius">
  </label>
</div>
