<div class="form-group">
  <label>Location:
    <input type="text" class="form-control" id="autocomplete" name="loc" value="<%= loc %>"
      placeholder="search by a location">
  </label>
</div>
<div class="form-group">Dates:
  <input type="date" class="form-control" name="start" value="<%= start_date %>">
</div>
<div class="form-group">
  <input type="date" class="form-control" name="end" value="<%= end_date %>">
</div>
